<div class="hero-unit">
    <div ng-controller = "MainCtrl">
        <input type="file" nv-file-select uploader="uploader" /><br/>
        <ul>
            <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
                <button ng-click="item.upload()">upload</button>
            </li>
        </ul>

        <input type="text" ng-model="objectId"> Object Id </input>
        <input type="text" ng-model="timeStamp"> TimeStamp </input>
        <button class="btn btn-primary"
                ng-click="query()"> Query</button>
        <ul>
            <li>{{output}}</li>
        </ul>
        
    </div>
</div>
